<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
<table style="background-color: #FFFAE7;font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;width: 500px;border-collapse: collapse; padding: 0; margin: 0;">
    <tr>
        <td>
            <a href="http://vac.joeunins.com">
                <img src="https://i.imgur.com/NTEzkub.png" width="100"
                     style="margin-top: 20px;margin-left: 10px;margin-bottom:10px;opacity: 70%;display: block;">
            </a>
        </td>
    </tr>
    <tr align="center">
        <td style="padding-top: 20px">
            <table width="400">
                <tr align="center">
                    <td style="border-top: 3px solid #FFD966; border-bottom: 3px solid #FFD966; background-color: #FFEEB7;padding: 10px;">
                        <span style="font-size: 1.2em; font-weight: bold;"
                              th:text="${subject}"></span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr align="center">
        <td style="padding-top: 30px">
            <table width="400"
                   style="border-collapse:collapse;border:3px solid #7F6000;margin-bottom: 20px;text-align: center">
                <tr style="height: 40px;">
                    <td colspan="2" style="border: 1px solid #AF974D;background-color: #FFF2CC;">
                        <span style="font-weight: bold;font-size: 10pt;">일시</span>
                    </td>
                </tr>
                <tr style="height: 50px;">
                    <td colspan="2" style="border: 1px solid #AF974D; background-color: #FFFBF0; word-break: break-all;">
                <span style="font-size: 9pt"
                      th:text="${currentDate}"></span>
                    </td>
                </tr>
                <tr style="height: 40px;">
                    <td colspan="2" style="border: 1px solid #AF974D;background-color: #FFF2CC;">
                        <span style="font-weight: bold;font-size: 10pt;">인원</span>
                    </td>
                </tr>
                <tr style="height: 100px;">
                    <td colspan="2" style="border: 1px solid #AF974D; background-color: #FFFBF0; word-break: break-all;">
                        <span style="font-size: 9pt" th:text="${userNames}"></span>
                        <br>
                        <span th:if="${anniversary == true}" style="font-size: 9pt">해당 인원 근속 1주년이 입사일기준 10일전 입니다.</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="right" width="120px">
            <img src="https://i.imgur.com/IJKi4oD.png" width="120">
        </td>
    </tr>
</table>
</body>
</html>


